@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <table>
        <tr>
            <td>Mieszko</td><td>Jan</td><td>Kovalenko</td><td>20.203,45</td>
        </tr>
        <tr>
            <td>Karolina</td><td>Agnieszka</td><td>Kovalenko</td><td>113.300,50</td>
        </tr>
        <tr>
            <td>Johann</td><td></td><td>Kovalenko</td><td>80.395,28</td>
        </tr>
    </table>

    <a href="../Members">Back to basic data</a>
</div>
