@model List<mvc.Models.Member>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <table>
        @foreach (var item in Model) 
        {
            <tr>
                <td>@item.firstName</td>
                <td>@item.middleName</td>
                <td>@item.lastName</td>
            </tr>
        }
    </table>

    <a href="Members/Detailed">Show detailed data</a><br><br>

    <form action="../Members/Confirmed" method="get">
        First name:     <input type="text" id="firstName" name="firstName"><br>
        Middle name:    <input type="text" id="middleName" name="middleName"><br>
        Last name:      <input type="text" id="lastName" name="lastName"><br>
        <input type="submit" value="Add">
    </form>
    <br><br>
    <form action="../Members/Filtered" method="get">
        Show only entries where last name contains:     <input type="text" id="filter" name="filter"><br>
        <input type="submit" value="Filter">
    </form>
</div>
