@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <table>
        <tr>
            <td>Mieszko</td><td>Jan</td><td>Kovalenko</td>
        </tr>
        <tr>
            <td>Karolina</td><td>Agnieszka</td><td>Kovalenko</td>
        </tr>
        <tr>
            <td>Johann</td><td></td><td>Kovalenko</td>
        </tr>
    </table>

    <a href="Members/Detailed">Show detailed data</a><br><br>

    <form action="../Members/Confirmed" method="get">
        First name:     <input type="text" id="fname" name="fname"><br>
        Middle name:    <input type="text" id="mname" name="mname"><br>
        Last name:      <input type="text" id="lname" name="lname"><br>
        <input type="submit" value="Submit">
    </form>

</div>
