@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <table>
        <tr>
            <td>Mieszko</td><td>Jan</td><td>Kovalenko</td>
        </tr>
        <tr>
            <td>Karolina</td><td>Agnieszka</td><td>Kovalenko</td>
        </tr>
        <tr>
            <td>Johann</td><td></td><td>Kovalenko</td>
        </tr>
    </table>

    <a href="Members/Detailed">Show detailed data</a>

</div>
