@model List<mvc.Models.Member>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <table>
        @foreach (var item in Model) 
        {
            <tr>
                <td>@item.firstName</td>
                <td>@item.middleName</td>
                <td>@item.lastName</td>
            </tr>
        }
    </table>

    <a href="Members/Detailed">Show detailed data</a><br><br>

    <form action="../Members/Confirmed" method="get">
        First name:     <input type="text" id="fname" name="fname"><br>
        Middle name:    <input type="text" id="mname" name="mname"><br>
        Last name:      <input type="text" id="lname" name="lname"><br>
        <input type="submit" value="SubmitGet">
    </form>
</div>
