@model Models.Company

<form asp-controller="Home" asp-action="AddRecord" method="get">          
    <table>
                                             <input asp-for="id" type="hidden">
        <tr><td>Name:               </td><td><input asp-for="name">         </td></tr>        
        <tr><td>Legal Form:         </td><td><input asp-for="legalForm">    </td></tr>   
        <tr><td>Label:              </td><td><input asp-for="label">        </td></tr>
        <tr><td>IsPerson:           </td><td><input asp-for="physical">     </td></tr>
        <tr><td>address:            </td><td><input asp-for="address">      </td></tr>
        <tr><td>Branch:             </td><td><input asp-for="branch">       </td></tr>
        <tr><td>Chair:              </td><td><input asp-for="chair">        </td></tr>
        <tr><td>Source:             </td><td><input asp-for="sourceChair">  </td></tr>
        <tr><td>UBO:                </td><td><input asp-for="ubo">          </td></tr>
        <tr><td>Kapitał zakładowy:  </td><td><input asp-for="capital">      </td></tr>
        <tr><td>Waluta:             </td><td><input asp-for="currency">     </td></tr>            
    </table>
    <input type="submit" value="Add">
</form>

<a asp-controller="Home" asp-action="Index">Back to list</a>