@model int

<form asp-controller="Home" asp-action="LinkRecord" method="get">          
    <table>
        <tr><td>Company ID:     </td><td><input type="text" name="companyId" id="companyId" value="@Model">        </td></tr>
        <tr><td>Owner ID:       </td><td><input type="text" name="ownerId" id="ownerId">            </td></tr>
        <tr><td>Percent:        </td><td><input type="text" name="percent" id="percent">            </td></tr>          
        <tr><td>Confirmed:      </td><td><input type="text" name="confirmed" id="confirmed">        </td></tr>
        <tr><td>Source Owner:   </td><td><input type="text" name="sourceOwner" id="sourceOwner">    </td></tr>
    </table>
    <input type="submit" value="Add">
</form>

<a href="..">Back to list</a>