/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color:cadetblue;
  background-image: url("../images/spikes.png");
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


/* Customized by Johann Kovalenko */

table.main {
  border-collapse: separate;
  border-spacing: 5px 15px;
  /* background-image: url('../images/tlo1.jpg'); */
}
td, th {
  border: 2px solid gray;
  border-radius: 5px;
  /* font-family:'Courier New', Courier, monospace; */
}

.first {
  min-width: 500px;
  font-size: larger;
}

tr.one {
  background-color: rgb(255, 228, 196, 0.7);
  /* background-image: linear-gradient( bisque, white); */
}

tr.two {
  background-color: rgb(244, 164, 96, 0.7);
  /* background-image: linear-gradient(sandybrown, white); */
}

th {
  background-color: rgba(226, 71, 226, 0.7);
  /* background-image: linear-gradient(to right, bisque, sandybrown); */
}